* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

HTML {
    font-size: 62.5%;;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.main-bg {
    background-image: url(../IMG/repeating-triangles.png);
    background-size: cover;
    background-position: center center;
    color: var(--font-color-light);
}

.white-bg {
    background-color : #ffffff;
    color : var(--font-color-dark);
}

body {
    font_family : Arial, sans-serif;
    font-size : 1.6rem;
    line-height: 1.5;
}

h1 h2 h3 h4 h5 h6 {
    font-family : 'Montserrat', sans-serif;
}

h1 {
    font-size : 6.0rem;
    text-transform: uppercase;
}

h2 {
    font-size: 6rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1;
}

h3 {
    font-size : 5.0rem;
}

h4 {
    font-size : 4.5rem;
}

h5 {
    font-size : 4.0rem;
}

h6 {
    font-size : 3.5rem;
}

.menu-spacing {
    height: 5.6rem;
}

.responsive-table {
    overflow: hidden;
    overflow-x: auto;
}

table {
    min-width: 36rem;
    width: 100%;
    border-collapse: collapse;
}
table caption {
    font-style: italic;
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 1rem;
}

table td,table th {
    white-space: nowrap;
    border: 0.1rem solid var(--font-color-dark);
    padding: 1rem;
    text-align: left;
}
tfoot , thead {
    font-weight: bold;
    color: var(--font-color-light);
    background: var(--font-color-dark);
}

.full-width {
    width: 100%;
}
.footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--secondary-color);
    color: white;
}
.footer a {
    color: white;
}

