.inicio-content{
    position: relative;
    
    display: grid;
    grid-template-columns: 1fr 1.5fr; 
    align-items: stretch;
    gap: var(gap);
    min-height: 100vh;
}

.inicio-text, .inicio-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.inicio-img img {
    max-width: 90%;
    min-height: auto;
}

.contact-form {
    grid-column: span 2;
}

.contact-form .form-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap)
}

.form-group {
    flex-grow: 1 1 32rem;
}

.form-group label {
    display: block;
    margin-bottom: 1rem;
}

.form-group input:focus,
.form-group textarea:focus {
    box-shadow: 0 0 1rem 0.2rem var(--secondary-color);
}

.form-group input,
.form-group textarea {
    border: none;
    background: whitesmoke;
    padding: 1.5rem;
    width: 100%;
    outline: none;
}

.form-buttons button {
    border: 0.2rem solid white;
    background: none;
    color: white;
    font: 3rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.form-buttons button:hover {
    border: 0.5rem solid white;
    background: white;
    color: black;
}

.form-group ::placeholder {
    color: gray;
}

.form-grid legend {
    font-style: italic;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
