.menu {
    background-color: var(--font-color-light);
    color : var(--font-color-dark);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.01rem solid #000000;
    z-index: 1;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu h1{
    font-size: 2.3rem;
    color: var(--font-color-dark);
}

.menu h1 a {
    color: inherit;
}

.menu ul {
    list-style: none;
    display: flex;
}
.menu ul li a {
    display: block;
    padding: 1.8rem;
    color : var(--font-color-dark);
    position: relative;
}

.menu ul li a::after{
    content: '';
    position: absolute;
    bottom: 0.2rem;
    left: 0;
    width: 0;
    height: 0.2rem;
    background: rgb(159, 16, 45);
    transition: all 0.3s ease-in-out;
}
.menu ul li a:hover::after{
    width: 80%;
    left : 10%;
}