.top3-content {
    max-width: 64rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.top3-content p {
    font-size : 1.8rem;
    margin-bottom : 3rem;
}

.top3-jobs-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 100vh;
}

.top3-jobs-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.top3-title {
    margin-bottom: 1rem;
}

.top3-description {
    margin-bottom: 5rem;
}

.top3-jobs-grid h3 {
    position: relative;
    font-size: 3rem;
    padding-left: 5rem;
    padding-bottom: 3rem;
}

.top3-jobs-grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -4rem;
    left: 0;
    transform: rotate(5deg);
}

